<div class='border-form-div'>
    <%= form_tag({controller: "nsbemon", action: "add_amounts"}, method: "patch" ) do %>
        
        <%= render :layout => "begin" do %>
          <h1>NSBEmon Training</h1>
        <% end %>

        <%= render :layout => "begin" do %>
          <h3> Gym: In Class </h3>
        <% end %>

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'in_class_1', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Sat in the front row" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'in_class_2', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Asked a question in class" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'in_class_3', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Talked to the professor during the break" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'in_class_4', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Did not miss a discussion during the quarter" %>
            </div>
        </div> 
        
        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'in_class_5', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Did not miss a lecture during the quarter" %>
            </div>
        </div> 

        <%= render :layout => "begin" do %>
          <h3> Gym: The Professor </h3>
        <% end %>

        <div class="row"> 
            <div class="col-lg-3">
                 <%= check_box_tag 'professor_1', '1' %>
            </div>
            <div class="col-lg-9">
                 <%= label_tag "Emailed TA or Professor with question" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'professor_2', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Attended Office Hour" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'professor_3', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Professor knows my name" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'professor_4', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Submitted paper for regrade and gained points" %>
            </div>
        </div>    

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'professor_5', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Emailed TA or Professor with question" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'professor_6', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Set up appointment with Professor" %>
            </div>
        </div>    

        

        <%= render :layout => "begin" do %>
          <h3> Gym: Study Habits </h3>
        <% end %>

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_1', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Completed homework at least two days in advance" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_2', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Reviewed Notes before and after class" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_3', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Read textbook" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_4', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Did extra problems apart from homework" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_5', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Taught another person the a subject" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'study_6', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Planned a study group" %>
            </div>
        </div> 


        <%= render :layout => "begin" do %>
            <h3> Gym: Personal Best </h3>
        <% end %> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'personal_1', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Improved quiz score" %>
            </div>
        </div> 
        
        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'personal_2', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Improved midterm score" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'personal_3', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Did better than my peers in a midterm" %>
            </div>
        </div> 

       
        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'personal_4', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Improved GPA" %>
            </div>
        </div> 

        <div class="row"> 
            <div class="col-lg-3">
                <%= check_box_tag 'personal_5', '1' %>
            </div>
            <div class="col-lg-9">
                <%= label_tag "Reached goal GPA" %>
            </div>
        </div> 

        <div class="row">
          <div class="col-lg-12">
            <%= submit_tag "Log Training", class: 'btn btn-primary'%>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%= link_to 'Back', nsbemon_main_path %>
            </div>
        </div>

    <% end %>

</div>