<div class="row">
  <div class="container">
    <div class="col-lg-4">
      <%= image_tag("poketrainers.png", class: 'featurette-image img-responsive pictureWrapper') %>
    </div>

    <div class="col-lg-4">
      <h3> User: <%= user.email %> </h3>
      <h3> Experience: <%= user.experience %> </h3>
      <h3> Level: <%= user.level %> </h3>
    </div>

    <div class="col-lg-4">
      <h3> First Name: <%= user.profile.first_name %> </h3>
      <h3> Last Name: <%= user.profile.last_name %> </h3>
      <h3> Graduation Year: <%= user.profile.graduation_year %> </h3>
      <h3> Major: <%= user.profile.major %></h3>
    </div>

  </div>
</div>

<hr>