<%= form_tag(controller: "user", action: "add_sub_values") do %>
  <%= select_tag 'Trainer', options_from_collection_for_select(@users, 'id', 'email') %>

  <%= number_field("Points", value = 0, in: -5000..5000, step: 10 )%>

  <%= submit_tag("Add amount") %>

<% end %>

<% @users.each do |user| %>
  <div class="table-responsive">
    <table class="table">
        <tr>
          <td> <b>User email: <%= user.email %></b> </td>
          <td> <b>User experience: <%= user.experience %></b> </td>
          <td> <b>User First Name: <%= user.profile.first_name %></b> </td>
        </tr>
    </table>
  </div>
 
  <div class="table-responsive" style="overflow-x:auto;">
    <table class="table table-striped">
      <% user.record[0...5].reverse.each do |r| %>
        <tr>
          <% r.checked_boxes.zip(r.point_values).each do |box, value| %>
              <td> <%= box[5, box.length] + " : " + value + " pts" %> </td>
          <% end %>
          <td> <b><%= r.created_at.localtime.strftime("%e %b %Y %H:%M:%S") %></b> </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
